@using BookDepo.ApiClient.Models.ApiModels;

@if (BookRowItem is not null)
{
	<tr>
		@if (!isEditMode)
		{
			<td>@BookRowItem.BookCode</td>
			<td>@BookRowItem.BookName</td>
			<td>@BookRowItem.Price</td>
			<td>
				<a @onclick="()=>isEditMode=true" href="javascript:void(0)">Edit</a>
				<a @onclick="async ()=> await OnDelete.InvokeAsync(BookRowItem.Id)" href="javascript:void(0)">Delete</a>
			</td>
		}
	</tr>
}else{
	<td>
		<input @bind="BookRowItem.BookCode" class="form-control" />
	</td>
	<td>
		<input @bind="BookRowItem.BookName" class="form-control" />
	</td>
	<td>
		<input @bind="BookRowItem.Price" class="form-control" />
	</td>
	<td>
		<a @onclick="Update" href="javascript:void(0)">Save</a>
		<a @onclick="()=>isEditMode= false" href="javascript:void(0)">Cancel</a>
	</td>
}

@code{
	[Parameter]
	public Books? BookRowItem{ get; set; }

	[Parameter]
	public EventCallback<Books> OnEdit{ get; set; }

	[Parameter]
	public EventCallback<int> OnDelete{ get; set; }

	private bool isEditMode = false;

	private async Task Update()
	{
		await OnEdit.InvokeAsync(BookRowItem);
		isEditMode = false;
	}
}